<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button id="buttonTab" class="tablinks" (click)="openCity($event, 'Benefit')">Benefit</button>
  <button class="tablinks" (click)="openCity($event, 'Fund')">Fund</button>
  <button class="tablinks" (click)="openCity($event, 'Quotes')">Quotes</button>
</div>

<div id="Benefit" class="tabcontent">
  <h3>Benefits Tab</h3>
</div>

<div id="Fund" class="tabcontent">
  <h3>Funds Tab</h3>
</div>

<div id="Quotes" class="tabcontent">
  <h3>Quotes Tab</h3>  
</div>
